.af-applyButton {
	border-radius: 4px;
	-moz-border-radius: 4px;
	border:2px solid #00BB00;
	padding-top:0px;
	background-color: #eee;
}

.tags{
	margin:0;
	padding:0;
	position:relative;
	right:24px;
	bottom:0px;
	list-style:none;
	padding-left: 2px;
	left:-10px;
	}
	
.tags li, .tags a{
	float:left;
	height:16px;
	line-height:16px;
	position:relative;
	font-size:11px;
	}
	
.tags a{
	margin-left:18px;
	padding:0 7px 0 7px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	} 
	
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-8px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:8px 8px 8px 0;		
	}
	
.tags a:after{
	content:"";
	position:absolute;
	top:7px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
	
.tags a:hover{background:#ddd; text-decoration: none;}	

.tags a:hover:before{border-color:transparent #ddd transparent transparent;}

.tags a:visited{color: #fff;}

.tags .source {
	font-style:italic	
}