/* $Id: noext-menu.css,v 1.9 2010/08/25 21:13:37 lebedand Exp $ */

div.sec div.other-sections {
    float: right;
}
div.other-sections ul {
    line-height: 1.2em; /* puts menu on header baseline */
}
.noext-menu ul {
    display: none;
    /*left: -1000px; */
}

.noext-menu-opened {position: relative;}

.noext-menu {padding: 0 .25em;}

.noext-menu, .noext-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    text-align: left
}
.noext-menu a  {
    display: block;
    _display: inline; /* for IE6: otherwise, we will see more space in containing element */
    /*width: 10em;
*/
    outline: none;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
}
.noext-menu li {
    /*float: left;
*/
    /*width: 10em;
*/
}
.noext-menu a.first-link {
    /*color: #336699;
*/
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.65em;
    text-transform: none;
}
.noext-menu a.first-link:hover {
    text-decoration: none !important;
}

ul.noext-menu li span.delta {
    /*color: #336699;
*/
}
.noext-menu li ul.submenu {
    position: absolute;
    /*left: -999em; */
    display: none;
    font-size: 0.75em;
}

/* second level submenus */
.noext-menu li ul ul { /* put second level menus to right of menu */
    margin: -1em 0 0 10em;
}

/* we second level menus will be visible when we click the drop down, we don't want that */
ul.noext-menu li.submenu-item ul {
    position: absolute;
    /*left:-999em;*/
    display: none;
}
ul.noext-menu li.active-item ul {
    left: 3px;
}
 ul.noext-menu li ul.opened {
    /*left: auto; */
    z-index: 5;
    display: block;
    border: 1px solid #F8F8F8;
    border-right: 1px solid transparent;/*#0000CC;
*/
    border: 1px solid transparent;
    padding: 0.25em;
    margin-top: 0.25em;
    right: 0;
    *right: -.1em;
    top: 1.4em;
    _top: 1.6em; /* IE6: when setting links to inline, menu is too far up, so pull it down */
    min-width: 200px;
    max-width: 300px;
    .width: expression(this.clientWidth > 300 ? "300px" : "200px"); /*emulate min/max width for IE6 */
}

ul.noext-menu li ul.opened li {
   margin-bottom: 3px;
}

ul.noext-menu li ul.opened li.active-item {
    background-color: #AAAAAA;
    padding:0;
}
ul.opened li.active-item a {
    color: #FFFFFF;
}
ul.noext-menu li ul a {
    text-decoration: none;
    color: #222222;
    margin: 0 3px;
    padding: 2px 0;
}

.noext-menu-hidden, .noext-menu-hidden a.first-link{
    background-color: transparent !important;
    color: transparent !important;
}
