.footer { clear: both; }
.dynamic_footer { font-size: 62.5%; }
#footer, #NCBIFooter_dynamic { font-family: "Helvetica Neue", GillSans, helvetica, "lucida sans", arial, sans-serif; line-height: 1.8em;  }
#footer h3 { font-size: 1.1em; color: #505050; } 
.foot_list h3, #footer { font-size: 1.1em; }

/* for external breadcrumbs and help_desk links */
#NCBIFooter_dynamic { position: relative; top: 2.5em; z-index: 10; font-size: 1.1em; color: #505050; clear: both; _top: -1.5em; }
.breadcrumbs { position: absolute; left: 1.6em; top: 1.1em; }
.help_desk { position: absolute; top: 1.1em; right: 1em; /* looks stupid right: 0em; width: 19.4%;*/ }

#NCBIFooter_dynamic a, #footer a { text-decoration: none; color: #14376c; }
#NCBIFooter_dynamic a:hover, #footer a:hover, .contact_info a:hover { text-decoration: underline; border-bottom: none; }

#footer-contents-right {
    float:right;
    text-align:right;
    _margin-top: 1em; 
}

#footer-contents-right a {
    float:left;
    height:41px;
    overflow:hidden;
    /*padding-left:2px;*/
    padding-top:14px;
    text-indent:10em;
    /*width:50px;*/    
}

#footer-contents-right div {display:inline;}

#nlm_thumb_logo  a{ 
background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.gif) no-repeat scroll 0 100%;
width:34px;
margin-right:14px; 
}
#nih_thumb_logo  a{
background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.gif) no-repeat scroll -35px 100%;
width:40px;
margin-right:14px;
}
#hhs_thumb_logo  a{
background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.gif) no-repeat scroll -75px 100%; 
width:39px;
margin-right:14px;
}
#usagov_thumb_logo  a{
background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.gif) no-repeat scroll -114px 100%; 
width:89px;
}

#footer-contents-left {
}
#footer-contents-left p.address {
    margin:0px;
    padding-top:1px;
}
#footer-contents-left p.updateinfo {
    margin:1px;
    padding-top:12px;
    text-align:right;
}
#footer-contents-left a {
    font-weight:bold;
}
/* Eddie's Correction Styles */
#footer-contents-left p.address .adr { display: block; }
#footer-contents-left p.address .url { margin:0px; font-weight: normal; }


/* added styles for the subfooter... they may not belong here, but adding for now */
#footer { background: #e5e5e5 url(http://static.pubmed.gov/portal/portal3rc.fcgi/2745237/img/27840) repeat-x scroll left top; position: relative; clear: both; zoom:1; top: 2.5em; _margin-top: -4em; z-index: 1; }
.crest { position: absolute; left: 46.8%; top: -2.3em; width: 50px; height: 50px; background: transparent url(http://static.pubmed.gov/portal/portal3rc.fcgi/2745237/img/27842) no-repeat scroll left top; _background-image: none; }
#footer, .contact_info { color: #14376c; background-color: #fff; overflow: visible; text-align: center; }
.foot_list{ margin:0; padding:0; width: 20%; float: left; text-align: left; margin-top: 4em; width: 19\0%; *width: 19%; }
.foot_list li{list-style-type:none;}
.foot_list li h3 { text-transform: uppercase; margin: 0; margin-bottom: .05em; }


.contact_info { clear: both; position: relative; top: .6em; padding-bottom: 1em; text-align: left; padding: .6em 0 .6em 1.6em; *padding: .3em 0 .6em 1.6em; background: transparent url(http://static.pubmed.gov/portal/portal3rc.fcgi/2745237/img/26957) repeat-y scroll left top; _padding-bottom: 5em; zoom:1; }
.subfooter{ margin-left: 1.6em; }
#footer-contents-left span.url a { font-weight: normal; }


.offscreen_noflow { float: left; text-indent: -9999em; margin:0; padding:0; /*safari bugfix:*/ height:0;}

/* code for previewing on web */
#footer{ margin-bottom: 6em; }
.universal_header .inline_list li a, .myncbi a { font-size: 1.2em; }

.universal_header { font-family: "Helvetica Neue", GillSans, helvetica, "lucida sans", arial, sans-serif; _font-size: 1em; height: 2.7em; background-color: #369; }
ul.resources_list { margin-left: 1.3em; }
/*.resources_list li a,*/ .myncbi a { color: #fff; text-decoration: none; }
/* removed for menu .resources_list li a:hover*/, .myncbi a:hover {text-decoration: underline;}
#ncbihome:focus { background: transparent; }
/*.ncbi_logo { position: relative; top: -.2em;  }*/
.myncbi { float: right; position: relative; top:.4em;color:#fff;right:1em; *top: .3em; }
.myncbi a { margin-left: .6em }




/* the following was designed for 12px font with 18px line-height */
/*body ul.jig-ncbimenu a.topanchor{background:transparent url(http://static.pubmed.gov/portal/portal3rc.fcgi/2745237/img/28003) no-repeat 96% -8%; padding-right: 20px; margin-right: 3px;}
body ul.jig-ncbimenu a.ui-ncbimenu-item-first-active{background:#4C96DF url(http://static.pubmed.gov/portal/portal3rc.fcgi/2745237/img/28003) no-repeat 96% 26%; padding-right: 20px; margin-right: 3px;}*/


#ncbihome { padding: .25em 0 0 ; padding-right: .8em; margin:0; color: #fff; }

body ul.jig-ncbimenu a:focus {  }
ul.jig-ncbimenu a.topanchor { color: #fff; }
ul.jig-ncbimenu a:hover { text-decoration: none; }


.ui-ncbimenu-item-no-hlt {}

div.universal_header ul.jig-ncbimenu li a { font-size: 1.0915em; }
.ui-ncbimenu-item { background-color: #fcfcfc; border-bottom: 1px dotted #e5e5e5; }

.ui-ncbimenu li.ui-ncbimenu-item-first a.ui-ncbimenu-first-link-has-submenu { padding: .45em 20px .2em 0; *padding-top: .5em;  }

body ul.ui-ncbimenu-submenu { border: 1px solid #ddd; border-bottom: 1px solid #aaa; border-right: 1px solid #aaa; box-shadow: .4em .4em .5em #bbb; -webkit-box-shadow: .4em .4em .5em #bbb; -moz-box-shadow: .4em .4em .5em #bbb; }


body .ui-ncbimenu-item-first-active, body ul li a.ui-ncbimenu-item-active { background-color: #4C96DF; color: #fff;  }
