.fw_Panel {
	padding-top: 5px;
 	padding-left: 10px;
 	padding-right: 10px;
 	padding-bottom: 10px;
 	z-index: 100;
 	background-color: #fff;	
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.fw_PanelTitle {
	z-index: 110;
	background-color: #fff;
	border: 1px solid #888;
	padding: 2px;
	padding-left: 3px;
	padding-right: 5px;
	color: #555;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;	
}

.fw_PanelContent {
	font-size: 20px;
	padding: 5px;
 	width: 400px;
}

.fw_PanelIcon {
	z-index: 110;
	background-color: #fff;
	border: 1px solid #888;
	padding: 2px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;	
	height: 18px;
}

.fw_PanelIconImage {
	cursor: pointer;
    cursor: hand;
    padding-top:1px;
}


