/* $Id: pmcbody5.css,v 1.31 2011/01/11 15:14:12 lebedand Exp $ */

.fm-vol-iss-date, .fm-citation, .fm-permissions
{font-family: Arial, sans-serif;
font-size: 75%;
text-align: left}

.fm-citation-ids
{font-size: 75%;}

.fm-citation  .fm-vol-iss-date
{font-size: 100%;}

.pubnote
{font-family: Arial, sans-serif;
font-size: 75%;
font-weight: bold}

.pubnote-hilite
{background-color: #ebebeb;
font-family: Arial, sans-serif;
font-size: 75%}

.fm-dochead, .fm-doctopic, .fm-docsubject
{color: #0055aa;
font-family: Arial, sans-serif;
font-size: 75%;
text-align: left}

.fm-ser-title, .fm-supp-title
{font-family: Arial, sans-serif;
font-size: 80%;
font-weight: bold}

.fm-title
{font-family: Arial, sans-serif;
font-size: 125%;
font-weight: bold}

.fm-subtitle
{font-family: Arial, sans-serif;
font-weight: bold}

.fm-trans-title
{font-family: Arial, sans-serif;
font-size: 120%;}

.fm-trans-subtitle
{font-family: Arial, sans-serif;
font-size: 105%;}

.fm-author
{font-family: Arial, sans-serif;
font-size: 110%;}

.front-matter-section .fm-affl, 
.front-matter-section .fm-pubdate,
.front-matter-section .fm-footnote, 
.front-matter-section .fm-editor
{font-family: Arial, sans-serif;}

.fm-affl, .fm-pubdate, .fm-footnote, .fm-editor
{font-size: 75%}


.fm-author .fm-footnote,
.fm-author .fm-affl
{font-size: 68.5%}

.fm-author .fm-footnote .fm-affl,
.fm-editor .fm-footnote .fm-affl,
.fm-editor .fm-footnote
{font-size: 100%;}

.fm-role
{font-family: Arial, sans-serif;
font-style: italic}

.fm-copyright, dt.fm-copyright-license
{font-family: Arial, sans-serif;
font-size: 75%}

.pmcnote
{font-family: Arial, sans-serif;
font-size: 85%}
/* styles for article body */
.abs-head2
{font-family: Arial, sans-serif;}

.abs-head2, .kwd-label
{font-weight: bold}

.head2
{font-family: Arial, sans-serif;
font-weight: bold}

.head3
{font-family: Arial, sans-serif;
font-style: italic}

.head4
{font-family: Arial, sans-serif;
font-style: italic}

.head5
{font-family: Arial, sans-serif;
font-style: italic}

.kwd-text
{font-size: 85%}

.eqn-image
{text-align: center}

.eqn-id
{font-weight: bold;
text-align: right}

.box
{background-color: #e1e1e1;
border: 1px #60cfff solid;
overflow:auto;}

.boxhead1
{font-family: Arial, sans-serif;
font-size: 105%;
font-weight: bold}

.boxhead2
{font-weight: bold}


.fig-table-link, a.cite-reflink
{color: #0050a0;
text-decoration: none}

a.int-reflink, a.ext-reflink
{color: #0050a0}

/* styles for Figure and Table windows */

.figwind-cite
{font-family: Arial, sans-serif;
font-size: 75%}

.figwind-copyrt
{font-family: Arial, sans-serif;
font-size: 75%}


.product-source
{font-style: italic}

.sigblock
{font-weight: bold;
 margin-left: 2em;}

.signature-group
{
 font-weight: bold;
 margin-left: 2em;
 font-style: italic;}

tr[content-type="shaded"], td[content-type="shaded"]
{
    background-color: #cccccc;
}


tr[content-type="shaded-medium"], td[content-type="shaded-medium"]
{
    background-color: #cccccc;
}

tr[content-type="shaded-light"], td[content-type="shaded-light"]
{
    background-color: #e2e2e2;
}

tr[content-type="shaded-dark"], td[content-type="shaded-dark"]
{
    background-color: #aaaaaa;
}
